<% include ../partials/boilerplate %>
 
<form method='POST' action='/todo'>
  <input name='title' type='text' placeholder='title' />
  <input name='status' type='text' placeholder='status' />
  <input name='category' type='text' placeholder='category'>
  <input type='submit' value='Submit!' />
</form>

<% include ../partials/end %>