<% include ../partials/boilerplate %>
    <div class='todo'>
        <h1><%= data.title %></h1>
        <h3><%= data.status %></h3>
        <h3><%= data.category %></h3>
        <a href='/todo/'>See all to do list</a>
    </div>
<% include ../partials/end %>